/* contact styles go here */
* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 248, 248);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.openingwriteup {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 85rem;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactmethods {
  display: flex;
  flex-direction: row;
  background-color: rgb(252, 248, 248);
  height: 40rem;
  width: 85rem;
  align-items: stretch;
  padding-left: 1rem;
  justify-content: space-evenly;
  margin-top: 4rem;
}
.closingwriteup {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/footerimg.jpg");
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  background-size: cover;
  height: 30rem;
  width: 85rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form {
  height: 36rem;
  width: 33rem;
  display: block;
  margin: 0 auto;

  border: rgba(255, 255, 255, 0.6);
  border-radius: 1.5px;
  padding: 1rem;
  box-shadow: 0 4px 2px 2px rgb(185, 182, 182);
}

button {
  height: 3rem;
  width: 9rem;
  border: none;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 1px;
  color: antiquewhite;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
button :hover {
  background-color: brown;
}
.information {
  margin-bottom: 4rem;
}
.contactUsText {
  margin-top: 10rem;
  margin-bottom: 1.5rem;
}
.closingremark {
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}
input {
  display: block;
  height: 3rem;
  width: 22rem;
  background-color: rgb(252, 248, 248);
  margin-bottom: 1.5rem;
  margin-top: 0.4rem;
  border: none;
  border-bottom: 0.05px solid rgb(185, 182, 182);
  margin-left: 4rem;
  opacity: 50%;
}
label {
  margin-right: 10rem;
}
.sendbutton {
  margin-right: 14rem;
  margin-top: 0.01rem;
}
.dropamessage {
  margin-bottom: 2rem;
}
h3 {
  font-weight: bolder;
}
.booknowbutton {
  margin-top: 4rem;
}
.foreigntext {
  margin-bottom: 0.3rem;
}
@media (max-width: 800px) {
  .contactmethods {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 248, 248);
    height: 80rem;
  }
  form {
    margin: 0 auto;
    margin-left: 41rem;
  }
  .contactdata {
    margin: 0 auto;
    margin-left: 50rem;
  }
  .openingwriteup {
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    width: 900px;
    margin-left: 29rem;
  }
  .closingwriteup {
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    margin-left: 29rem;
  }
}
